Course: Comp3608 - Intelligent systems <br>
Project: F1 racing factors predictions <br>
Purpose: To predict ... <br>
Problem: ...

Members: Eysah Ali, Saeed Khan, Zidan Timothy

In [2]:
import pandas as pd
import csv
import scipy

In [3]:
df_weather = pd.read_csv(r"weather data\F1 Weather(2023-2018).csv")
df_races = pd.read_csv(r"championship_data\races.csv")

df_drivers = pd.read_csv(r"championship_data\drivers.csv")
df_drivers_standing = pd.read_csv(r"championship_data\driver_standings.csv")
df_all_drivers = pd.read_csv(r"drivers\F1Drivers_Dataset.csv", )

df_constructors = pd.read_csv(r"championship_data\constructors.csv")
df_constructor_results = pd.read_csv(r"championship_data\constructor_results.csv")
df_constructor_standings = pd.read_csv(r"championship_data\constructor_standings.csv")

# results to link drivers and ids?
df_results = pd.read_csv(r"championship_data\results.csv")

In [4]:
# print(df_constructors)
# print(df_constructor_results)
# print(df_constructor_standings)

# Preprocessing

### Drivers

In [5]:
df_all_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Driver              868 non-null    object
 1   Nationality         868 non-null    object
 2   Seasons             868 non-null    object
 3   Championships       868 non-null    float64
 4   Race_Entries        868 non-null    float64
 5   Race_Starts         868 non-null    float64
 6   Pole_Positions      868 non-null    float64
 7   Race_Wins           868 non-null    float64
 8   Podiums             868 non-null    float64
 9   Fastest_Laps        868 non-null    float64
 10  Points              868 non-null    float64
 11  Active              868 non-null    bool
 12  Championship Years  34 non-null     object
 13  Decade              868 non-null    int64
 14  Pole_Rate           868 non-null    float64
 15  Start_Rate          868 non-null    float64
 16  Win_Rate            868 non-null    float64
 17  Podium_Rate         868 non-null    float64
 18  FastLap_Rate        868 non-null    float64
 19  Points_Per_Entry    868 non-null    float64
 20  Years_Active        868 non-null    int64
 21  Champion            868 non-null    bool
dtypes: bool(2), float64(14), int64(2), object(4)
memory usage: 137.4+ KB

In [6]:
df_all_drivers[['Championship Years']] = df_all_drivers[['Championship Years']].fillna(value= "None")

In [7]:
df_all_drivers.drop(df_all_drivers[df_all_drivers['Active'] == False].index, inplace=True)
df_actv_d = df_all_drivers.copy()
df_actv_d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 11 to 864
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Driver              20 non-null     object
 1   Nationality         20 non-null     object
 2   Seasons             20 non-null     object
 3   Championships       20 non-null     float64
 4   Race_Entries        20 non-null     float64
 5   Race_Starts         20 non-null     float64
 6   Pole_Positions      20 non-null     float64
 7   Race_Wins           20 non-null     float64
 8   Podiums             20 non-null     float64
 9   Fastest_Laps        20 non-null     float64
 10  Points              20 non-null     float64
 11  Active              20 non-null     bool
 12  Championship Years  20 non-null     object
 13  Decade              20 non-null     int64
 14  Pole_Rate           20 non-null     float64
 15  Start_Rate          20 non-null     float64
 16  Win_Rate            20 non-null     float64
 17  Podium_Rate         20 non-null     float64
 18  FastLap_Rate        20 non-null     float64
 19  Points_Per_Entry    20 non-null     float64
 20  Years_Active        20 non-null     int64
 21  Champion            20 non-null     bool
dtypes: bool(2), float64(14), int64(2), object(4)
memory usage: 3.3+ KB

In [8]:
df_actv_d.isna().sum()

Driver                0
Nationality           0
Seasons               0
Championships         0
Race_Entries          0
Race_Starts           0
Pole_Positions        0
Race_Wins             0
Podiums               0
Fastest_Laps          0
Points                0
Active                0
Championship Years    0
Decade                0
Pole_Rate             0
Start_Rate            0
Win_Rate              0
Podium_Rate           0
FastLap_Rate          0
Points_Per_Entry      0
Years_Active          0
Champion              0
dtype: int64

In [9]:
df_actv_d.describe()

,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,Fastest_Laps,Points,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active
count,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,0.550000,125.800000,124.900000,9.65000,9.700000,26.350000,8.10000,789.325000,2019.000000,0.042981,0.993110,0.039517,0.121101,0.043259,4.294736,6.600000
std,1.637553,99.110571,98.470354,23.40777,24.270623,48.472754,14.41819,1087.660832,3.077935,0.083803,0.010695,0.085831,0.176244,0.052593,3.991284,5.051316
min,0.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.00000,0.000000,2010.000000,0.000000,0.955556,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,57.000000,55.750000,0.00000,0.000000,0.000000,0.00000,148.250000,2020.000000,0.000000,0.991329,0.000000,0.000000,0.000000,1.209790,2.750000
50%,0.000000,110.500000,110.500000,1.00000,0.500000,3.000000,2.50000,349.000000,2020.000000,0.006199,0.997525,0.003049,0.030155,0.022908,3.280738,6.000000
75%,0.000000,169.250000,168.500000,6.75000,4.250000,24.750000,7.50000,955.750000,2020.000000,0.029040,1.000000,0.024519,0.142067,0.064877,5.313152,8.500000
max,7.000000,359.000000,356.000000,103.00000,103.000000,191.000000,61.00000,4415.500000,2020.000000,0.331190,1.000000,0.331190,0.614148,0.196141,14.197749,19.000000

In [10]:
df_actv_d[['forename', 'surname']] = df_actv_d['Driver'].str.split(' ', n=1, expand=True)

In [11]:
df_actv_d.drop('Driver', axis='columns', inplace=True)
cols = ['forename', 'surname'] + [col for col in df_actv_d.columns if col not in ['forename', 'surname']]
df_actv_d = df_actv_d[cols]

In [12]:
df_actv_d

,forename,surname,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,...,Championship Years,Decade,Pole_Rate,Start_Rate,Win_Rate,Podium_Rate,FastLap_Rate,Points_Per_Entry,Years_Active,Champion
11,Alexander,Albon,Thailand,"[2019, 2020, 2022]",0.0,61.0,60.0,0.0,0.0,2.0,...,None,2020,0.000000,0.983607,0.000000,0.032787,0.000000,3.311475,3,False
17,Fernando,Alonso,Spain,"[2001, 2003, 2004, 2005, 2006, 2007, 2008, 200...",2.0,359.0,356.0,22.0,32.0,99.0,...,"[2005, 2006]",2010,0.061281,0.991643,0.089136,0.275766,0.064067,5.782730,19,True
100,Valtteri,Bottas,Finland,"[2013, 2014, 2015, 2016, 2017, 2018, 2019, 202...",0.0,202.0,201.0,20.0,10.0,67.0,...,None,2020,0.099010,0.995050,0.049505,0.331683,0.094059,8.866337,10,False
287,Pierre,Gasly,France,"[2017, 2018, 2019, 2020, 2021, 2022]",0.0,109.0,109.0,0.0,1.0,3.0,...,None,2020,0.000000,1.000000,0.009174,0.027523,0.027523,3.064220,6,False
338,Lewis,Hamilton,United Kingdom,"[2007, 2008, 2009, 2010, 2011, 2012, 2013, 201...",7.0,311.0,311.0,103.0,103.0,191.0,...,"[2008, 2014, 2015, 2017, 2018, 2019, 2020]",2010,0.331190,1.000000,0.331190,0.614148,0.196141,14.197749,16,True
375,Nico,Hülkenberg,Germany,"[2010, 2012, 2013, 2014, 2015, 2016, 2017, 201...",0.0,185.0,182.0,1.0,0.0,0.0,...,None,2020,0.005405,0.983784,0.000000,0.000000,0.010811,2.816216,11,False
446,Charles,Leclerc,Monaco,"[2018, 2019, 2020, 2021, 2022]",0.0,104.0,103.0,18.0,5.0,24.0,...,None,2020,0.173077,0.990385,0.048077,0.230769,0.067308,8.346154,5,False
485,Kevin,Magnussen,Denmark,"[2014, 2015, 2016, 2017, 2018, 2019, 2020, 2022]",0.0,143.0,142.0,1.0,0.0,1.0,...,None,2020,0.006993,0.993007,0.000000,0.006993,0.013986,1.279720,8,False
565,Lando,Norris,United Kingdom,"[2019, 2020, 2021, 2022]",0.0,83.0,83.0,1.0,0.0,6.0,...,None,2020,0.012048,1.000000,0.000000,0.072289,0.060241,5.156627,4,False
568,Esteban,Ocon,France,"[2016, 2017, 2018, 2020, 2021, 2022]",0.0,112.0,112.0,0.0,1.0,2.0,...,None,2020,0.000000,1.000000,0.008929,0.017857,0.000000,3.250000,6,False
594,Sergio,Pérez,Mexico,"[2011, 2012, 2013, 2014, 2015, 2016, 2017, 201...",0.0,240.0,236.0,1.0,4.0,27.0,...,None,2020,0.004167,0.983333,0.016667,0.112500,0.037500,5.079167,12,False
603,Oscar,Piastri,Australia,[2023],0.0,1.0,1.0,0.0,0.0,0.0,...,None,2020,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,False
679,George,Russell,United Kingdom,"[2019, 2020, 2021, 2022]",0.0,83.0,83.0,1.0,1.0,9.0,...,None,2020,0.012048,1.000000,0.012048,0.108434,0.060241,3.614458,4,False
686,Carlos,Sainz Jr.,Spain,"[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]",0.0,164.0,163.0,3.0,1.0,15.0,...,None,2020,0.018293,0.993902,0.006098,0.091463,0.018293,4.844512,8,False
692,Logan,Sargeant,United States,[2023],0.0,1.0,1.0,0.0,0.0,0.0,...,None,2020,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,False
753,Lance,Stroll,Canada,"[2017, 2018, 2019, 2020, 2021, 2022]",0.0,124.0,123.0,1.0,0.0,3.0,...,None,2020,0.008065,0.991935,0.000000,0.024194,0.000000,1.629032,6,False
798,Yuki,Tsunoda,Japan,"[2021, 2022]",0.0,45.0,43.0,0.0,0.0,0.0,...,None,2020,0.000000,0.955556,0.000000,0.000000,0.000000,0.977778,2,False
811,Max,Verstappen,Netherlands,"[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]",2.0,164.0,164.0,21.0,36.0,78.0,...,"[2021, 2022]",2020,0.128049,1.000000,0.219512,0.475610,0.128049,12.417683,8,True
821,Nyck,de Vries,Netherlands,[2022],0.0,2.0,2.0,0.0,0.0,0.0,...,None,2020,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1,False
864,Zhou,Guanyu,China,[2022],0.0,23.0,23.0,0.0,0.0,0.0,...,None,2020,0.000000,1.000000,0.000000,0.000000,0.086957,0.260870,1,False

In [13]:
df_main_drivers = df_drivers.copy()
df_main_drivers = pd.merge(df_actv_d, df_main_drivers, left_on='forename', right_on='forename', how='inner')
df_main_drivers = pd.merge(df_main_drivers, df_drivers_standing, on='driverId', how='inner')
df_main_drivers.drop('surname_y', axis='columns', inplace=True)
df_main_drivers = df_main_drivers.rename(columns={'surname_x':'surname'})
df_main_drivers

,forename,surname,Nationality,Seasons,Championships,Race_Entries,Race_Starts,Pole_Positions,Race_Wins,Podiums,...,code,dob,nationality,url,driverStandingsId,raceId,points,position,positionText,wins
0,Alexander,Albon,Thailand,"[2019, 2020, 2022]",0.0,61.0,60.0,0.0,0.0,2.0,...,WUR,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz,13647,37,0.0,11,11,0
1,Alexander,Albon,Thailand,"[2019, 2020, 2022]",0.0,61.0,60.0,0.0,0.0,2.0,...,WUR,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz,13667,38,0.0,12,12,0
2,Alexander,Albon,Thailand,"[2019, 2020, 2022]",0.0,61.0,60.0,0.0,0.0,2.0,...,WUR,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz,13688,39,0.0,14,14,0
3,Alexander,Albon,Thailand,"[2019, 2020, 2022]",0.0,61.0,60.0,0.0,0.0,2.0,...,WUR,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz,13710,40,2.0,12,12,0
4,Alexander,Albon,Thailand,"[2019, 2020, 2022]",0.0,61.0,60.0,0.0,0.0,2.0,...,WUR,1974-02-15,Austrian,http://en.wikipedia.org/wiki/Alexander_Wurz,13732,41,8.0,8,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4364,Nyck,de Vries,Netherlands,[2022],0.0,2.0,2.0,0.0,0.0,0.0,...,DEV,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,72399,1116,0.0,21,21,0
4365,Nyck,de Vries,Netherlands,[2022],0.0,2.0,2.0,0.0,0.0,0.0,...,DEV,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,72421,1117,0.0,22,22,0
4366,Nyck,de Vries,Netherlands,[2022],0.0,2.0,2.0,0.0,0.0,0.0,...,DEV,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,72443,1118,0.0,22,22,0
4367,Nyck,de Vries,Netherlands,[2022],0.0,2.0,2.0,0.0,0.0,0.0,...,DEV,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,72487,1119,0.0,22,22,0
4368,Nyck,de Vries,Netherlands,[2022],0.0,2.0,2.0,0.0,0.0,0.0,...,DEV,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,72509,1120,0.0,22,22,0

### Weather

In [14]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18214 entries, 0 to 18213
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Time           18214 non-null  object
 1   AirTemp        18214 non-null  float64
 2   Humidity       18214 non-null  float64
 3   Pressure       18214 non-null  float64
 4   Rainfall       18214 non-null  bool
 5   TrackTemp      18214 non-null  float64
 6   WindDirection  18214 non-null  int64
 7   WindSpeed      18214 non-null  float64
 8   Round Number   18214 non-null  int64
 9   Year           18214 non-null  int64
dtypes: bool(1), float64(5), int64(3), object(1)
memory usage: 1.3+ MB

In [15]:
# Group by 'Year' and 'Round Number' and aggregate the data
df_weather_merged = df_weather.groupby(['Year', 'Round Number']).agg({
    'AirTemp': 'mean',
    'Humidity': 'mean',
    'Pressure': 'mean',
    'Rainfall': 'any',  # True if any value is True
    'TrackTemp': 'mean',
    'WindDirection': 'mean',
    'WindSpeed': 'mean'
}).reset_index()

# Ensure all rounds for each year are included
all_rounds = pd.MultiIndex.from_product(
    [df_weather['Year'].unique(), range(1, df_weather['Round Number'].max() + 1)],
    names=['Year', 'Round Number']
)
df_weather_merged = df_weather_merged.set_index(['Year', 'Round Number']).reindex(all_rounds).reset_index()

df_weather_merged

,Year,Round Number,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,2018,1,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
1,2018,2,27.982524,47.363107,1009.494175,False,32.198058,167.407767,0.958252
2,2018,3,19.446429,24.089286,1018.131250,True,37.019643,127.392857,1.837500
3,2018,4,16.661404,45.651754,1021.913158,False,25.251754,123.789474,2.222807
4,2018,5,16.050476,52.286667,1001.541905,True,32.339048,98.695238,1.952381
...,...,...,...,...,...,...,...,...,...
127,2023,18,29.960119,41.910714,993.730952,False,40.628571,107.892857,3.314286
128,2023,19,25.547368,23.552632,779.520526,False,45.639474,247.684211,1.490000
129,2023,20,20.460109,58.174863,927.900546,True,46.775956,184.158470,1.309290
130,2023,21,18.050000,47.361111,939.781481,False,17.994444,220.333333,2.300926
131,2023,22,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872

In [16]:
df_races

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

In [17]:
weather_set = df_races.copy()
weather_set = pd.merge(weather_set, df_weather_merged, left_on=['year', 'round'], right_on=['Year', 'Round Number'], how='left')
weather_set

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,...,sprint_time,Year,Round Number,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1121,1141,2024,21,18,São Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,...,14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,...,13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,...,\N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
weather_set.isna().sum()

raceId              0
year                0
round               0
circuitId           0
name                0
date                0
time                0
url                 0
fp1_date            0
fp1_time            0
fp2_date            0
fp2_time            0
fp3_date            0
fp3_time            0
quali_date          0
quali_time          0
sprint_date         0
sprint_time         0
Year             1000
Round Number     1000
AirTemp          1005
Humidity         1005
Pressure         1005
Rainfall         1005
TrackTemp        1005
WindDirection    1005
WindSpeed        1005
dtype: int64

In [19]:
weather_set.dropna(subset=['Year'], inplace=True)

In [20]:
weather_set

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,...,sprint_time,Year,Round Number,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
976,989,2018,1,1,Australian Grand Prix,2018-03-25,05:10:00,http://en.wikipedia.org/wiki/2018_Australian_G...,\N,\N,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
977,990,2018,2,3,Bahrain Grand Prix,2018-04-08,15:10:00,http://en.wikipedia.org/wiki/2018_Bahrain_Gran...,\N,\N,...,\N,2018.0,2.0,27.982524,47.363107,1009.494175,False,32.198058,167.407767,0.958252
978,991,2018,3,17,Chinese Grand Prix,2018-04-15,06:10:00,http://en.wikipedia.org/wiki/2018_Chinese_Gran...,\N,\N,...,\N,2018.0,3.0,19.446429,24.089286,1018.131250,True,37.019643,127.392857,1.837500
979,992,2018,4,73,Azerbaijan Grand Prix,2018-04-29,12:10:00,http://en.wikipedia.org/wiki/2018_Azerbaijan_G...,\N,\N,...,\N,2018.0,4.0,16.661404,45.651754,1021.913158,False,25.251754,123.789474,2.222807
980,993,2018,5,4,Spanish Grand Prix,2018-05-13,13:10:00,http://en.wikipedia.org/wiki/2018_Spanish_Gran...,\N,\N,...,\N,2018.0,5.0,16.050476,52.286667,1001.541905,True,32.339048,98.695238,1.952381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,...,22:00:00,2023.0,18.0,29.960119,41.910714,993.730952,False,40.628571,107.892857,3.314286
1097,1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,...,\N,2023.0,19.0,25.547368,23.552632,779.520526,False,45.639474,247.684211,1.490000
1098,1118,2023,20,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,...,18:30:00,2023.0,20.0,20.460109,58.174863,927.900546,True,46.775956,184.158470,1.309290
1099,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-16,04:30:00,...,\N,2023.0,21.0,18.050000,47.361111,939.781481,False,17.994444,220.333333,2.300926
1100,1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872

### Constructors

In [21]:
df_constructor_standings

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
13386,28978,1144,15,4.0,10,10,0
13387,28979,1144,210,58.0,7,7,0
13388,28980,1144,215,46.0,8,8,0
13389,28981,1144,3,17.0,9,9,0
13390,28982,1144,214,65.0,6,6,0

In [22]:
df_constructor_results

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12620                 17125    1144            210     4.0     \N
12621                 17126    1144            117     2.0     \N
12622                 17127    1144              3     0.0     \N
12623                 17128    1144            215     0.0     \N
12624                 17129    1144             15     0.0     \N

[12625 rows x 5 columns]

Merging the datasets

Constructors

In [23]:
constructors = df_constructors.copy()
df_constructor_standings.drop('points', axis='columns', inplace=True)
df_constructor_results.drop('status', axis='columns', inplace=True)
constructors = pd.merge(constructors, df_constructor_standings, on='constructorId', how='left')
constructors = pd.merge(constructors, df_constructor_results, on=['constructorId', 'raceId'], how='left')
constructors

,constructorId,constructorRef,name,nationality,url,constructorStandingsId,raceId,position,positionText,wins,constructorResultsId,points
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,1.0,18.0,1.0,1,1.0,1.0,14.0
1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,7.0,19.0,1.0,1,1.0,14.0,10.0
2,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,18.0,20.0,3.0,3,1.0,25.0,4.0
3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,29.0,21.0,3.0,3,1.0,35.0,6.0
4,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,40.0,22.0,3.0,3,1.0,46.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13438,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28940.0,1140.0,7.0,7,0.0,17089.0,0.0
13439,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28950.0,1141.0,8.0,8,0.0,17095.0,8.0
13440,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28960.0,1142.0,8.0,8,0.0,17105.0,2.0
13441,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28970.0,1143.0,8.0,8,0.0,17118.0,0.0
13442,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28980.0,1144.0,8.0,8,0.0,17128.0,0.0

In [24]:
constructors.dropna(subset=['constructorStandingsId'], inplace=True)
constructors

,constructorId,constructorRef,name,nationality,url,constructorStandingsId,raceId,position,positionText,wins,constructorResultsId,points
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,1.0,18.0,1.0,1,1.0,1.0,14.0
1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,7.0,19.0,1.0,1,1.0,14.0,10.0
2,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,18.0,20.0,3.0,3,1.0,25.0,4.0
3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,29.0,21.0,3.0,3,1.0,35.0,6.0
4,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,40.0,22.0,3.0,3,1.0,46.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13438,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28940.0,1140.0,7.0,7,0.0,17089.0,0.0
13439,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28950.0,1141.0,8.0,8,0.0,17095.0,8.0
13440,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28960.0,1142.0,8.0,8,0.0,17105.0,2.0
13441,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28970.0,1143.0,8.0,8,0.0,17118.0,0.0
13442,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team,28980.0,1144.0,8.0,8,0.0,17128.0,0.0

In [25]:
results = constructors[constructors['name'] == 'McLaren']
results

,constructorId,constructorRef,name,nationality,url,constructorStandingsId,raceId,position,positionText,wins,constructorResultsId,points
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,1.0,18.0,1.0,1,1.0,1.0,14.0
1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,7.0,19.0,1.0,1,1.0,14.0,10.0
2,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,18.0,20.0,3.0,3,1.0,25.0,4.0
3,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,29.0,21.0,3.0,3,1.0,35.0,6.0
4,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,40.0,22.0,3.0,3,1.0,46.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
924,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,28936.0,1140.0,1.0,1,5.0,17081.0,22.0
925,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,28946.0,1141.0,1.0,1,5.0,17094.0,27.0
926,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,28956.0,1142.0,1.0,1,5.0,17103.0,15.0
927,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,28966.0,1143.0,1.0,1,5.0,17112.0,32.0
928,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,28976.0,1144.0,1.0,1,6.0,17120.0,26.0

In [26]:
# constructors.rename(columns={'points_y':'points_per_race'})

Putting together the three types of data

In [27]:
merged_data = pd.merge(constructors, weather_set, on='raceId', how='inner')
merged_data
# url x is constructor site, url y is race site name x is constructor name, name y is race name

,constructorId,constructorRef,name_x,nationality,url_x,constructorStandingsId,raceId,position,positionText,wins,...,sprint_time,Year,Round Number,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
1,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
2,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...,26937.0,989.0,5.0,5,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
3,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,26941.0,989.0,9.0,9,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
4,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari,26933.0,989.0,1.0,1,1.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,117,aston_martin,Aston Martin,British,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,28704.0,1120.0,5.0,5,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1246,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,28706.0,1120.0,2.0,2,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1247,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team,28711.0,1120.0,10.0,10,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1248,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1249,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872

In [28]:
merged_data = merged_data.rename(columns={'url_x':'constructor_url', 'url_y':'race_url','name_x':'constructor_name',
                                          'name_y':'race_name'})
merged_data

,constructorId,constructorRef,constructor_name,nationality,constructor_url,constructorStandingsId,raceId,position,positionText,wins,...,sprint_time,Year,Round Number,AirTemp,Humidity,Pressure,Rainfall,TrackTemp,WindDirection,WindSpeed
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
1,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
2,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...,26937.0,989.0,5.0,5,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
3,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,26941.0,989.0,9.0,9,0.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
4,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari,26933.0,989.0,1.0,1,1.0,...,\N,2018.0,1.0,24.077477,30.915315,997.003604,True,36.324324,294.126126,3.691892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,117,aston_martin,Aston Martin,British,http://en.wikipedia.org/wiki/Aston_Martin_in_F...,28704.0,1120.0,5.0,5,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1246,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,28706.0,1120.0,2.0,2,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1247,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team,28711.0,1120.0,10.0,10,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1248,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872
1249,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,\N,2023.0,22.0,26.962821,51.000000,1014.927564,False,33.460897,284.935897,1.794872

In [29]:
merged_data = pd.merge(merged_data, df_results, on=['raceId', 'constructorId'], how='inner')
merged_data

,constructorId,constructorRef,constructor_name,nationality,constructor_url,constructorStandingsId,raceId,position_x,positionText_x,wins,...,positionOrder,points_y,laps,time_y,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,5,10.0,58,+27.886,5401169,57,7,1:26.978,219.489,1
1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,9,2.0,58,+34.921,5408204,57,6,1:26.958,219.540,1
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,14,0.0,58,+1:18.288,5451571,55,14,1:28.511,215.688,1
3,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,20,0.0,4,\N,\N,3,20,1:32.573,206.224,23
4,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...,26937.0,989.0,5.0,5,0.0,...,7,6.0,58,+32.671,5405954,57,9,1:27.081,219.230,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team,28711.0,1120.0,10.0,10,0.0,...,20,0.0,57,\N,\N,46,19,1:29.934,211.395,11
2496,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,8,4.0,58,+43.088,5265712,55,16,1:29.256,213.000,1
2497,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,11,0.0,58,+56.229,5278853,47,11,1:28.571,214.648,1
2498,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,12,0.0,58,+1:06.373,5288997,34,20,1:30.033,211.162,1
2499,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,13,0.0,58,+1:10.360,5292984,35,14,1:29.016,213.575,1

In [30]:
merged_data = merged_data.rename(columns={'position_x':'constructor_pos', 'positionText_x':'constructor_pos_txt',
                                          'position_y':'results_pos', 'positionText_y':'res_pos_txt',
                                          'points_x':'constructor_points', 'points_y':'results_points',
                                          'time_x':'constructor_results_time', 'time_y':'results_time'})
merged_data
# could drop year and date columns as needed
# merged_data.drop('points', axis='columns', inplace=True)

,constructorId,constructorRef,constructor_name,nationality,constructor_url,constructorStandingsId,raceId,constructor_pos,constructor_pos_txt,wins,...,positionOrder,results_points,laps,results_time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,5,10.0,58,+27.886,5401169,57,7,1:26.978,219.489,1
1,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,9,2.0,58,+34.921,5408204,57,6,1:26.958,219.540,1
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,14,0.0,58,+1:18.288,5451571,55,14,1:28.511,215.688,1
3,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,20,0.0,4,\N,\N,3,20,1:32.573,206.224,23
4,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...,26937.0,989.0,5.0,5,0.0,...,7,6.0,58,+32.671,5405954,57,9,1:27.081,219.230,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team,28711.0,1120.0,10.0,10,0.0,...,20,0.0,57,\N,\N,46,19,1:29.934,211.395,11
2496,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,8,4.0,58,+43.088,5265712,55,16,1:29.256,213.000,1
2497,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,11,0.0,58,+56.229,5278853,47,11,1:28.571,214.648,1
2498,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,12,0.0,58,+1:06.373,5288997,34,20,1:30.033,211.162,1
2499,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,13,0.0,58,+1:10.360,5292984,35,14,1:29.016,213.575,1

In [31]:
# # merge the result with df_main_drivers on driverId
final_merged_data = pd.merge(merged_data, df_main_drivers, on=['driverId', 'raceId'], how='inner')      #ensure the same driver and race 

final_merged_data

,constructorId,constructorRef,constructor_name,nationality_x,constructor_url,constructorStandingsId,raceId,constructor_pos,constructor_pos_txt,wins_x,...,number_y,code,dob,nationality_y,url,driverStandingsId,points,position,positionText,wins_y
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,26936.0,989.0,4.0,4,0.0,...,14,ALO,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,68613,10.0,5,5,0
1,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...,26940.0,989.0,8.0,8,0.0,...,18,STR,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll,68622,0.0,14,14,0
2,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...,26937.0,989.0,5.0,5,0.0,...,27,HUL,1987-08-19,German,http://en.wikipedia.org/wiki/Nico_H%C3%BClkenberg,68615,6.0,7,7,0
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...,26937.0,989.0,5.0,5,0.0,...,55,SAI,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,68618,1.0,10,10,0
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso,26941.0,989.0,9.0,9,0.0,...,10,GAS,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly,68626,0.0,18,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team,28711.0,1120.0,10.0,10,0.0,...,27,HUL,1987-08-19,German,http://en.wikipedia.org/wiki/Nico_H%C3%BClkenberg,72510,9.0,16,16,0
1765,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team,28711.0,1120.0,10.0,10,0.0,...,20,MAG,1992-10-05,Danish,http://en.wikipedia.org/wiki/Kevin_Magnussen,72508,3.0,19,19,0
1766,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,28710.0,1120.0,8.0,8,0.0,...,22,TSU,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,72506,17.0,14,14,0
1767,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,31,OCO,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon,72513,58.0,12,12,0
1768,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team,28708.0,1120.0,6.0,6,0.0,...,10,GAS,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly,72504,62.0,11,11,0

In [32]:
final_merged_data.columns.to_list()

['constructorId',
 'constructorRef',
 'constructor_name',
 'nationality_x',
 'constructor_url',
 'constructorStandingsId',
 'raceId',
 'constructor_pos',
 'constructor_pos_txt',
 'wins_x',
 'constructorResultsId',
 'constructor_points',
 'year',
 'round',
 'circuitId',
 'race_name',
 'date',
 'constructor_results_time',
 'race_url',
 'fp1_date',
 'fp1_time',
 'fp2_date',
 'fp2_time',
 'fp3_date',
 'fp3_time',
 'quali_date',
 'quali_time',
 'sprint_date',
 'sprint_time',
 'Year',
 'Round Number',
 'AirTemp',
 'Humidity',
 'Pressure',
 'Rainfall',
 'TrackTemp',
 'WindDirection',
 'WindSpeed',
 'resultId',
 'driverId',
 'number_x',
 'grid',
 'results_pos',
 'res_pos_txt',
 'positionOrder',
 'results_points',
 'laps',
 'results_time',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'statusId',
 'forename',
 'surname',
 'Nationality',
 'Seasons',
 'Championships',
 'Race_Entries',
 'Race_Starts',
 'Pole_Positions',
 'Race_Wins',
 'Podiums',
 'Fastest_Laps',
 'Points',
 'Active',
 'Championship Years',
 'Decade',
 'Pole_Rate',
 'Start_Rate',
 'Win_Rate',
 'Podium_Rate',
 'FastLap_Rate',
 'Points_Per_Entry',
 'Years_Active',
 'Champion',
 'driverRef',
 'number_y',
 'code',
 'dob',
 'nationality_y',
 'url',
 'driverStandingsId',
 'points',
 'position',
 'positionText',
 'wins_y']

In [33]:
# final_merged_data.drop('name_x', axis='columns', inplace= True)
# final_merged_data.drop('url_x', axis='columns', inplace= True)
final_merged_data.drop('constructorRef', axis='columns', inplace=True)
final_merged_data.drop('constructor_url', axis='columns', inplace=True)
final_merged_data.drop('race_url', axis='columns', inplace=True)
final_merged_data.drop('res_pos_txt', axis='columns', inplace=True)
final_merged_data.drop('url', axis='columns', inplace=True)
final_merged_data.drop('dob', axis='columns', inplace=True)
final_merged_data.drop('constructor_pos_txt', axis='columns', inplace=True)
final_merged_data.drop('number_x', axis='columns', inplace=True) # I dont think we need driver num
final_merged_data.drop('Round Number', axis='columns', inplace=True)
final_merged_data.drop('fp1_time', axis='columns', inplace=True)
final_merged_data.drop('fp2_time', axis='columns', inplace=True)
final_merged_data.drop('fp3_time', axis='columns', inplace=True)
final_merged_data.drop('fp1_date', axis='columns', inplace=True)
final_merged_data.drop('fp2_date', axis='columns', inplace=True)
final_merged_data.drop('fp3_date', axis='columns', inplace=True)
final_merged_data.drop('sprint_date', axis='columns', inplace=True)
final_merged_data.drop('sprint_time', axis='columns', inplace=True)
final_merged_data.drop('quali_time', axis='columns', inplace=True)
final_merged_data.drop('quali_date', axis='columns', inplace=True)
final_merged_data.drop('nationality_x', axis='columns', inplace=True)
final_merged_data.drop('nationality_y', axis='columns', inplace=True)
final_merged_data.drop('Nationality', axis='columns', inplace=True)
final_merged_data.drop('number_y', axis='columns', inplace=True)
final_merged_data.drop('positionText', axis='columns', inplace=True)
final_merged_data.drop('Decade', axis='columns', inplace=True)
final_merged_data.drop('Year', axis='columns', inplace=True) # can choose to keep a year but we have date as well
final_merged_data.drop('year', axis='columns', inplace=True)
final_merged_data = final_merged_data.rename(columns={"wins_x":"constructor_wins", "wins_y":"driver_wins"})

# final_merged_data = final_merged_data.drop_duplicates() # there are no duplpicates in the data
final_merged_data

,constructorId,constructor_name,constructorStandingsId,raceId,constructor_pos,constructor_wins,constructorResultsId,constructor_points,round,circuitId,...,FastLap_Rate,Points_Per_Entry,Years_Active,Champion,driverRef,code,driverStandingsId,points,position,driver_wins
0,1,McLaren,26936.0,989.0,4.0,0.0,15643.0,12.0,1,1,...,0.064067,5.782730,19,True,alonso,ALO,68613,10.0,5,0
1,3,Williams,26940.0,989.0,8.0,0.0,15647.0,0.0,1,1,...,0.000000,1.629032,6,False,stroll,STR,68622,0.0,14,0
2,4,Renault,26937.0,989.0,5.0,0.0,15644.0,7.0,1,1,...,0.010811,2.816216,11,False,hulkenberg,HUL,68615,6.0,7,0
3,4,Renault,26937.0,989.0,5.0,0.0,15644.0,7.0,1,1,...,0.018293,4.844512,8,False,sainz,SAI,68618,1.0,10,0
4,5,Toro Rosso,26941.0,989.0,9.0,0.0,15648.0,0.0,1,1,...,0.027523,3.064220,6,False,gasly,GAS,68626,0.0,18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764,210,Haas F1 Team,28711.0,1120.0,10.0,0.0,16888.0,0.0,22,24,...,0.010811,2.816216,11,False,hulkenberg,HUL,72510,9.0,16,0
1765,210,Haas F1 Team,28711.0,1120.0,10.0,0.0,16888.0,0.0,22,24,...,0.013986,1.279720,8,False,kevin_magnussen,MAG,72508,3.0,19,0
1766,213,AlphaTauri,28710.0,1120.0,8.0,0.0,16885.0,4.0,22,24,...,0.000000,0.977778,2,False,tsunoda,TSU,72506,17.0,14,0
1767,214,Alpine F1 Team,28708.0,1120.0,6.0,0.0,16886.0,0.0,22,24,...,0.000000,3.250000,6,False,ocon,OCO,72513,58.0,12,0
1768,214,Alpine F1 Team,28708.0,1120.0,6.0,0.0,16886.0,0.0,22,24,...,0.027523,3.064220,6,False,gasly,GAS,72504,62.0,11,0

In [34]:
final_merged_data.columns.to_list()

['constructorId',
 'constructor_name',
 'constructorStandingsId',
 'raceId',
 'constructor_pos',
 'constructor_wins',
 'constructorResultsId',
 'constructor_points',
 'round',
 'circuitId',
 'race_name',
 'date',
 'constructor_results_time',
 'AirTemp',
 'Humidity',
 'Pressure',
 'Rainfall',
 'TrackTemp',
 'WindDirection',
 'WindSpeed',
 'resultId',
 'driverId',
 'grid',
 'results_pos',
 'positionOrder',
 'results_points',
 'laps',
 'results_time',
 'milliseconds',
 'fastestLap',
 'rank',
 'fastestLapTime',
 'fastestLapSpeed',
 'statusId',
 'forename',
 'surname',
 'Seasons',
 'Championships',
 'Race_Entries',
 'Race_Starts',
 'Pole_Positions',
 'Race_Wins',
 'Podiums',
 'Fastest_Laps',
 'Points',
 'Active',
 'Championship Years',
 'Pole_Rate',
 'Start_Rate',
 'Win_Rate',
 'Podium_Rate',
 'FastLap_Rate',
 'Points_Per_Entry',
 'Years_Active',
 'Champion',
 'driverRef',
 'code',
 'driverStandingsId',
 'points',
 'position',
 'driver_wins']

In [ ]:
#final_merged_data.groupby("forename", as_index=False).first()[["surname", "nationality_x", "Nationality", "nationality_y"]]

KeyError: "['nationality_x', 'Nationality', 'nationality_y'] not in index"

Should figure out the importanece of fp_date and fp_time

Need to figure out the differences in wins

In [36]:
final_merged_data.groupby("raceId", as_index=False).first()[["surname", "raceId", "Race_Wins"]]

     surname  raceId  Race_Wins
0     Alonso   989.0       32.0
1     Alonso   990.0       32.0
2     Alonso   991.0       32.0
3     Alonso   992.0       32.0
4     Alonso   993.0       32.0
..       ...     ...        ...
120   Norris  1116.0        0.0
121   Norris  1117.0        0.0
122   Norris  1118.0        0.0
123  Piastri  1119.0        0.0
124   Norris  1120.0        0.0

[125 rows x 3 columns]

In [ ]:
# final_merged_data.groupby("forename", as_index=False).first()[["surname", "number_x", "number_y", "driverId"]]
# final_merged_data.groupby("forename", as_index=False).first()[["surname", "raceId_x", "raceId_y", "driverId"]]

In [38]:
final_merged_data.to_parquet("final_data.parquet")
final_merged_data.to_csv("final_data1.csv", index=False)

In [49]:
final_merged_data.where(final_merged_data["date"] > '2023-01-01').sample(n=10)[["Points", "Points_Per_Entry", "surname", "constructor_name", "points" ,"race_name", "date"]]

,Points,Points_Per_Entry,surname,constructor_name,points,race_name,date
1464,2036.5,12.417683,Verstappen,Red Bull,144.0,Monaco Grand Prix,2023-05-28
1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1504,1791.0,8.866337,Bottas,Alfa Romeo,5.0,Canadian Grand Prix,2023-06-18
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1313,NaN,NaN,NaN,NaN,NaN,NaN,NaN